name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  Docker:

    runs-on: ubuntu-latest
    

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        
      - uses: docker/setup-qemu-action@v1
      
      - uses: docker/setup-buildx-action@v1
      
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: tech-fever/sub-web:latest
